<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ch.mibex.stash.alfred-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>020ABCAB-04CC-4B49-B994-1C17D397C305</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D36D8EE4-14C7-4114-869E-088B7D4938BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D36D8EE4-14C7-4114-869E-088B7D4938BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEBDE5AB-4433-4FD7-BF55-709C4FAE0F21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEBDE5AB-4433-4FD7-BF55-709C4FAE0F21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67ED7960-01B8-4C5D-8716-A4ED5FCDC054</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mibex Software GmbH</string>
	<key>description</key>
	<string>Search for repositories and projects and manage your pull requests in Atlassian Bitbucket Server</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Atlassian Bitbucket Server</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>020ABCAB-04CC-4B49-B994-1C17D397C305</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Atlassian Stash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>67ED7960-01B8-4C5D-8716-A4ED5FCDC054</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#python -msrc.stash_workflow "{query}" --exec

# In case you are experiencing unsolveable issues,
# you can generate a log file to help me. Modify the
# first line here so it looks like this:
python -msrc.stash_workflow "{query}" --exec | tee ~/Desktop/alfred-stash-workflow-commit.log</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FEBDE5AB-4433-4FD7-BF55-709C4FAE0F21</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>stash</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#python -msrc.stash_workflow "{query}"

# In case you are experiencing unsolveable issues,
# you can generate a log file to help me. Modify the
# first line here so it looks like this:
python -msrc.stash_workflow "{query}" | tee ~/Desktop/alfred-stash-workflow.log</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for repositories, projects and pull requests</string>
				<key>title</key>
				<string>Atlassian Stash Workflow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D36D8EE4-14C7-4114-869E-088B7D4938BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Workflow for Atlassian Stash

Search for repositories, projects and pull requests in Atlassian Stash.

GitHub: https://github.com/mibexsoftware/alfred-stash-workflow

This workflow, excluding the Atlassian Stash logo, is released under the MIT Licence.

Thanks to Dean Jackson for building the awesome Python library Alfred Workflow. Also thanks to Ian Paterson for the awesome Wunderlist workflow which is one of the nicest menu-based Alfred workflows we’ve seen so far and which has inspired our workflow deeply.</string>
	<key>uidata</key>
	<dict>
		<key>020ABCAB-04CC-4B49-B994-1C17D397C305</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>67ED7960-01B8-4C5D-8716-A4ED5FCDC054</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>D36D8EE4-14C7-4114-869E-088B7D4938BD</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>FEBDE5AB-4433-4FD7-BF55-709C4FAE0F21</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www.mibexsoftware.com</string>
</dict>
</plist>
